<h2>Início</h2>

<p>Protótipo funcional de um simulador de Financiamento pré-fixado para testes e demonstração da modelagem e tecnologia</p>

<h3>Funcionalidades</h3>
<ul>
    <li>Lista e formulário de Contratos de financiamento com cálculo da taxa de juros efetiva</li>
    <li>Projeção de movimentação do extrato bancário / fluxo de caixa (para gestão de caixa)</li>
    <li>Projeção de movimentação, diária e mensal, na carteira de Financiamentos (para análise e planejamento)</li>
    <li>Projeção de guia para contabilização (para contabilidade e controladoria)</li>
</ul>

<h3>Tecnologia</h3>
<ul>
    <li>Front-end: Angular 2</li>
    <li>Back-end: Nesta versão de demonstração, nenhum</li>
</ul>

